.center {
  margin: auto;
  width: 100%;
  text-align: center;
  background-color: burlywood;
}

// Center datatable
.div-table {
  display: table;
  width: auto;
  margin: auto;
}
.div-table-row:nth-child(2n) {
  display: table-row;
  width: auto;
  height: 20px;
  clear: both;
  background-color: #ccc;
}
.div-table-row:nth-child(2n+1) {
  display: table-row;
  width: auto;
  height: 50px;
  clear: both;
  background-color: #fff;
}
.div-table-col {
  float: left; /* fix for  buggy browsers */
  display: table-column;
  width: 200px;
}

// Buttons
.selectable{
  background-color: darkkhaki;
  border: 2px solid seagreen;
  border-radius: 4px;
  width: 20%;
}
.selectable:hover{
  background-color: darksalmon;
  border: 2px solid seagreen;
  border-radius: 4px;
  width: 20%;
}
