<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your cars</title>
    <!-- Using static links here because using Flask is more tedious-->
    <script async type="text/javascript" src="../static/script.js"></script>

    <link rel="stylesheet/less" type="text/css" href="../static/styles.less" />
    <script type="text/javascript" src="../static/less.js" ></script>

  </head>
  <body>
    <div class="center">
      <button class="selectable" onclick="link('./New_record.html')"><p>Add car</p></button>
      <button class="selectable" onclick="link('./Search_record.html')"><p>Search for car</p></button>

      <!--Main table-->
      <table class="datatable">
        <tr><th class="datatable">Registration</th><th class="datatable">Make</th></tr>
        {% for car in data %}
        <tr><td class="datatable">{{ car[0] }}</td><td class="datatable">{{ car[1] }}</td></tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
