<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your cars</title>
    <!-- Using static links here because using Flask is more tedious-->
    <script async type="text/javascript" src="../static/script.js"></script>

    <link rel="stylesheet/less" type="text/css" href="../static/styles.less" />
    <script type="text/javascript" src="../static/LESS.js" ></script>

  </head>

  <body>
    <div class="center">
      <button class="selectable" onclick="link('./New_record.html')"><p>Add car</p></button>
      <button class="selectable" onclick="link('./Search_record.html')"><p>Search for car</p></button>

      <!--Main table-->
      <div class="div-table">
        {% for car in data %}
        <div class="div-table-row"><a class="datatable" href="{{ car[0] }}">
          <div class="div-table-col">
            {{ car[1] }}
          </div>
          <div class="div-table-col">
            {{ car[2] }}
          </div>
          <div class="div-table-col">
            {{ car[3] }}
          </div>
        </a></div>
        {% endfor %}
      </div>

    </div>

  </body>
</html>
